.signup {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 5%;
  left: 28%;
}

/* Do not use in production */
.testDiv {
  border:thin red solid;
}

.request-list * {
  margin-bottom: 5px;
  border-bottom: gray thin solid;
}